@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: Montserrat, sans-serif;
    position: relative;
  }
}

.product-list .swiper-slide {
  width: 300px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(0, 0, 0, 0.3);
  right: 10px;
  padding: 30px;
  color: #fff !important;
}

.zoomImage {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; /* Smooth zoom */
}

@media screen and (max-width: 767px) {
  .swiper-wrapper {
    width: 100%;
  }
  .product-list .swiper-slide {
    width: 100%;
  }
}
